{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list_detail.name }}</h1>
                <p>
                    <a href="{% url 'edit_todo_list' todo_list_detail.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'delete_todo_list' todo_list_detail.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for details in todo_list_detail.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' details.id %}">{{ details.task }}</a>
                                </td>
                                <td>{{ details.due_date|date:"F j Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
